<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
	         <h1><li><a href="{% url "home" %}">{% trans "Home" %}</a></li></h1>
	 	</ul>
		<section class="top-bar-section">
       	{% if user.is_authenticated %}
				{% trans "Logged in" %}: {{ user.username }} 
  
				<ul class="right">
         			<li><a href={% url "postman_inbox" %}> {% trans "Inbox" %}</a></li>
         			<li><a href="{% url "auth_logout" %}">{% trans "Log out" %}</a></li>
         	{% else %}
            <ul class="right">

        			 <li><a href="{% url "auth_login" %}">{% trans "Log in" %}</a></li>
         	{% endif %}

        		</ul>
        </ul>
      </section>
		</div>
      <h1>Tempilo<small> It's a Time tool</small></h1>
      <hr />
</div>



<a href="{% url "auth_password_change" %}">{% trans "Change password" %}</a>

 
 
 