{% load tagging_tags comments i18n thumbnail %}
{% with author=object.authors.all.0  %}
<div id="entry-{{ object.pk }}" class="hentry{% if object.featured %} featured{% endif %} span-16 last {% if not disable_author_feature %}author-feature-entry{% endif %}">
    <div class="entry-header span-16 last {% if not disable_author_feature %}author-feature-header{% endif %}">
    {% if not disable_author_feature %}
        <h2 class="author-feature-title">
          <a class="author-feature-title-link" href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
            {{ object.title }}
          </a>
        </h2 class="author-feature-title">

        <div class="entry-image">
          <p>
          {% comment %}
              ugly. if author_feature is True then we try to show the profile avatar first and then fall back to the entry picture.
              if author_feature is not True then we do things the other way round
          {% endcomment %}

          {% if author_feature %}
              {% if author.get_profile.avatar %}
                {% thumbnail author.get_profile.avatar "75x75" crop="center" as img %}
                  <a href="{% url "zinnia_author_detail" author %}" class="fn nickname url" rel="author"
                     title="{% blocktrans with author as author %}Show {{ author }} entries{% endblocktrans %}">
                    <img src="{{ img.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  </a>
                {% empty %}
                {% endthumbnail %}
              {% else %}
                {% thumbnail object.image "100x100" crop=center as img %}
                <a href="{{ object.get_absolute_url }}" rel="bookmark">
                  <img src="{{ img.url }}" alt="{{ object.title }}" class="left" />
                </a>
                {% empty %}
                {% endthumbnail %}
              {% endif %}
          {% else %}
              {% if object.image %}
                {% thumbnail object.image "100x100" crop=center as img %}
                <a href="{{ object.get_absolute_url }}" rel="bookmark">
                  <img src="{{ img.url }}" alt="{{ object.title }}" class="left" />
                </a>
                {% empty %}
                {% endthumbnail %}
              {% else %}
                {% thumbnail author.get_profile.avatar "75x75" crop="center" as img %}
                  <a href="{% url "zinnia_author_detail" author %}" class="fn nickname url" rel="author"
                     title="{% blocktrans with author as author %}Show {{ author }} entries{% endblocktrans %}">
                    <img src="{{ img.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  </a>
                {% empty %}
                {% endthumbnail %}
              {% endif %}
          {% endif %}
          </p>
        </div class="entry-image">

        <p class="author-feature-byline">By
            <a href="{% url "zinnia_author_detail" author %}" class="fn nickname url" rel="author"
                title="{% blocktrans with author as author %}Show {{ author }} entries{% endblocktrans %}">{{ author }}</a>,
            {{ object.creation_date|date:"DATE_FORMAT" }}
        </p class="author-feature-byline">

        {% if author_feature %}
          <p class="author-blurb">{{ author.get_profile.blurb }}</p>
        {% endif %}

    {% else %}

      <h2 class="entry-title">
        <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
          {{ object.title }}
        </a>
      </h2>
      <p class="entry-info">
        {% if object.authors.count %}
        {% trans "Written by" %}
        {% for author in object.authors.all %}
        <span class="vcard author">
          <a href="{% url "zinnia_author_detail" author %}" class="fn nickname url" rel="author"
             title="{% blocktrans with author as author %}Show {{ author }} entries{% endblocktrans %}">{{ author }}</a>
        </span>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% trans "on" %}
        {% else %}
        {% trans "Written on" %}
        {% endif %}
        <abbr class="published" title="{{ object.creation_date|date:"c" }}Z">{{ object.creation_date|date:"DATE_FORMAT" }}</abbr>
        {% if object.categories.count %}
        {% trans "in" %}
        {% for category in object.categories.all %}
        <a href="{{ category.get_absolute_url }}" title="{{ category }}" rel="tag category">{{ category }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}.
      </p>
    {% endif %}

  </div>

  <div class="entry-body span-16 last">
    {% if object.image and disable_author_feature %}
    <div class="entry-image">
      <p>
        <a href="{{ object.get_absolute_url }}" rel="bookmark">
          {% if hide_footer %}
            {% thumbnail object.image "100x100" crop=center as img %}
              <img src="{{ img.url }}" alt="{{ object.title }}" class="left" />
            {% endthumbnail %}
          {% else %}
            <img src="{{ object.image.url }}" alt="{{ object.title }}" class="left" />
          {% endif %}
        </a>
      </p>
    </div>
    {% endif %}
    <div class="entry-content">
      {{ object_content }}
  </div>
  {% if hide_footer %}
    <p class="more"><a href="{{ object.get_absolute_url }}">more...</a>
    {% if request.user in object.authors.all %}
      <span class="entry-controls">
        <a href="{% url "blogs.views.update_blog" object.id %}">Edit</a> |
        <a href="{% url "blogs.views.delete_entry" object.id %}">Delete</a>
      </span>
    {% endif %}
  {% endif %}
  </div>

  {% if not hide_footer %}
  <div class="entry-footer">
    {% if request.user in object.authors.all %}
      <p class="entry-controls span-16 last">
        <a href="{% url "blogs.views.update_blog" object.id %}">Edit</a> |
        <a href="{% url "blogs.views.delete_entry" object.id %}">Delete</a>
      </p>
    {% endif %}

      <h3>{% trans "Tags" %}</h3>
    <p class="entry-tags span-16 last">
      {% tags_for_object object as tag_list %}
      {% for tag in tag_list %}
      <a href="{% url "zinnia_tag_detail" tag %}"
         title="Tag {{ tag }}" rel="tag">{{ tag }}</a>
      {% empty %}
      <span>{% trans "No tags" %}</span>
      {% endfor %}
    </p>

    {% comment %}
    <p class="entry-shorturl span-16 last">
      <strong>{% trans "Short url" %}</strong> :
      <a href="{{ object.short_url }}" title="{{ object.title }}" rel="shortlink">
        {{ object.short_url }}
      </a>
    </p>
    {% endcomment %}

      {% if comment_count %}
      <h3>{% trans "Discussions" %}</h3>
      <p class="entry-comments span-16 last">
      {% with object.comments.count as comment_count %}
      <a href="{{ object.get_absolute_url }}#comments" title="{{ object.title }}">
        {% blocktrans count comment_count as comment_count %}{{ comment_count }} comment{% plural %}{{ comment_count }} comments{% endblocktrans %}
      </a>
      {% comment %}
      {% else %}
      {% trans "Comments are closed." %}
      {% if object.comments_are_open %}
      {% trans "No comments yet." %}
      <a href="{{ object.get_absolute_url }}#comments" title="{{ object.title }}">
        {% trans "Be first to comment!" %}
      </a>
      {% else %}
      {% trans "Comments are closed." %}
      {% endif %}
      {% endif %}
      {% endcomment %}
      {% endwith %}
      {% endif %}

      {% with object.pingbacks.count as pingback_count %}
      {% if pingback_count %}
      , <a href="{{ object.get_absolute_url }}#pingbacks" title="{{ object.title }}">
        {% blocktrans count pingback_count as pingback_count %}{{ pingback_count }} pingback{% plural %}{{ pingback_count }} pingbacks{% endblocktrans %}
      </a>
      {% endif %}
      {% endwith %}

      {% with object.trackbacks.count as trackback_count %}
      {% if trackback_count %}
      , <a href="{{ object.get_absolute_url }}#trackbacks" title="{{ object.title }}">
        {% blocktrans count trackback_count as trackback_count %}{{ trackback_count }} trackback{% plural %}{{ trackback_count }} trackbacks{% endblocktrans %}
      </a>
      {% endif %}
      {% endwith %}
    </p>
  </div>
  {% endif %}
</div>
{% endwith %}
