{% extends "zinnia/base.html" %}
{% block template %}
    {{ block.super }}
    <!-- templates/zinnia/author_list.html -->
{% endblock template %}
{% load i18n %}

{% block meta-description %}{% trans "Author list" %}{% endblock %}

{% block title %}{% trans "Authors" %}{% endblock %}

{% block content %}
<h2>{% trans "Author list" %}</h2>
<div>
  <ul>
    {% for object in object_list %}
    <li class="vcard">
      <a href="{% url "zinnia_author_detail" object.username %}"
         title="{{ object.username }}" class="fn nickname url">
        {{ object.username }}
      </a>
      {% blocktrans count object.entries_published.count as entry_count %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktrans %}
    </li>
    {% empty %}
    <li>
      {% trans "No authors yet." %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
