{% extends "base.html" %}
{% block template %}
    {{ block.super }}
    <!-- templates/zinnia/base.html -->
{% endblock template %}
{% load zinnia_tags i18n compressed blogs %}

{% block extra-meta %}
    {{ block.super }}
    <meta name="generator" content="Zinnia {{ ZINNIA_VERSION }}" />
    {% block meta %} {% endblock %}
{% endblock %}

{% block feeds %}
    {{ block.super }}
    <link rel="index" href="{% url "zinnia_entry_archive_index" %}" />
    <link rel="EditURI" type="application/rsd+xml" href="{% url "zinnia_rsd" %}" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{% url "zinnia_wlwmanifest" %}" />
    <link rel="search" type="application/opensearchdescription+xml" title="Bodytonic Blogs" href="{% url "zinnia_opensearch" %}" />
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of latest entries" %}" href="{% url "zinnia_entry_latest_feed" %}" />
    {% get_archives_entries "zinnia/tags/archives_entries_link.html" %}
    {% block link %}{% endblock %}
{% endblock %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'zinnia' %}
    <!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}zinnia/css/ie.css" />
    <![endif]-->
{% endblock css %}

{% block js %}
    {{ block.super }}
    {% block script %}{% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tree.js"></script>
{% endblock js %}

{% block bodyonload %}
    {{ block.super }}
jQuery(".sidebar > div > div > ul").tree();

setUpCollapsableSection('body.mobile .sidebar > div > h3');

jQuery(window).resize(function () {
    "use strict";
    if (jQuery('body').hasClass('mobile')) { return; }

    /* set a flag - currently add mobile-responsive to body class
    |  small screen  | flag set      | all good              |
    |  small screen  | flag not set  | go mobile layout      |
    |  large screen  | flag set      | disable mobile layout |
    |  large screen  | flag not set  | all good              | */
    if (jQuery(window).width() <= 700) {
        if (jQuery('body').hasClass('mobile-responsive')) {
            return;
        } else {
            setUpCollapsableSection('body .sidebar > div > h3');
            jQuery('body').addClass('mobile-responsive');
            if (jQuery(window).width() <= 475) {
                Cufon.replace('h1');
                Cufon.replace('h2');
            }
        }
    } else {
        if (jQuery('body').hasClass('mobile-responsive')) {
            takeDownCollapsableSection('body .sidebar > div > h3');
            jQuery('body').removeClass('mobile-responsive');
            if (jQuery(window).width() >= 475) {
                Cufon.replace('h1');
                Cufon.replace('h2');
            }
        } else {
            return;
        }
    }
});
jQuery(window).resize();
{% endblock bodyonload %}

{% block body_class %}three-cols zinnia{% endblock %}

{% block breadcrumbs %}
    <div class="index-return block-return">
        {% zinnia_breadcrumbs %}
        <div class="clearBoth"></div>
    </div>
    <div class="clearBoth"></div>
{% endblock %}

{% block left-sidebar %}
{% comment %}
  <div class="search">
    <h3>{% trans "Search" %}</h3>
    <form method="get" id="searchform" action="{% url "zinnia_entry_search" %}">
        <p>
        <input type="text" value="{% trans "Keywords..." %}" name="pattern" id="searchbox" onfocus="this.value=''" />
        <input type="submit" class="submitbutton" value="OK" />
        <a title="{% trans 'You can use - to exclude words or phrases, &quot;double quotes&quot; for exact phrases and the AND/OR boolean operators combined with parenthesis for complex searchs.' %}">
          <img src="{{ STATIC_URL }}zinnia/img/help.png" alt="?" width="14" height="14" />
        </a>
      </p>
    </form>
  </div>

  <div class="categories">
    <h3>{% trans "Categories" %}</h3>
    {% get_categories %}
  </div>

  <div class="calendar">
    <h3>{% trans "Calendar" %}</h3>
    {% get_calendar_entries %}
  </div>

  <div class="tags">
    <h3>{% trans "Tags" %}</h3>
    {% get_tag_cloud %}
  </div>

  <div class="randoms">
    <h3>{% trans "Random entries" %}</h3>
    {% get_random_entries 5 %}
  </div>

  <div class="linkbacks">
    <h3>{% trans "Recent linkbacks" %}</h3>
    {% get_recent_linkbacks 5 %}
  </div>

  <div class="populars">
    <h3>{% trans "Popular entries" %}</h3>
    {% get_popular_entries 5 %}
  </div>

  <div class="archives">
    <h3>{% trans "Archives" %}</h3>
    {% get_archives_entries_tree %}
  </div>
{% endcomment %}

  <div class="recents">
    <h3>{% trans "Recent entries" %}</h3>
    <div class="sidebar-module-conent">
    {% get_recent_entries 5 %}
    </div class="sidebar-module-conent">
  </div>

  <div class="archives">
    <h3>{% trans "Archives" %}</h3>
    <div class="sidebar-module-conent">
    {% get_archives_entries_tree %}
    </div class="sidebar-module-conent">
  </div>

  <div class="comments">
    <h3>{% trans "Recent comments" %}</h3>
    <div class="sidebar-module-conent">
    {% get_recent_comments 5 %}
    </div class="sidebar-module-conent">
  </div>

  <div class="authors">
    <h3>{% trans "Authors" %}</h3>
    <div class="sidebar-module-conent">
    {% get_authors %}
    </div class="sidebar-module-conent">
  </div>
{% endblock left-sidebar %}

{% block right-sidebar %}
  <div class="social">
    <h3>{% trans "Share This" %}</h3>
    <div class="sidebar-module-conent">
        {% include 'minisites/plugins/facebook_like.html' with fb_extra_class="social-first" data_layout="button_count" data_show_faces="true" data_font="lucida grande" %}

        {% comment %}
        {% if object.authors.all.0.get_profile.facebook_user %}
            <fb:subscribe href="https://www.facebook.com/{{ object.authors.all.0.get_profile.facebook_user }}" show_faces="true" width="450"></fb:subscribe>
            <!-- html5 :<div class="fb-subscribe" data-href="https://www.facebook.com/{{ object.authors.all.0.get_profile.facebook_user }}" data-show-faces="true" data-width="450"></div> -->
        {% endif %}
        {% endcomment %}

        {% include 'minisites/plugins/tweet_button.html' %}

          {% if object.authors.all.0.get_profile.twitter_user %}
            {% with holder_class="last" twitter_user=object.authors.all.0.get_profile.twitter_user %}
             {% include 'minisites/plugins/twitter_follow.html' %}
            {% endwith %}
          {% endif %}

    </div>
  </div>

  {% if user.is_authenticated %}
    {% if perms.zinnia.add_entry or user|is_blogger or perms.zinnia %}
      <div class="tools">
        <h3>{% trans "Tools" %}</h3>
        <div class="sidebar-module-conent">
        <ul>
          {% if perms.zinnia.add_entry or user|is_blogger %}
            <li>
              <a href="{% url "blogs.views.create_blog" %}" title="{% trans "Post an entry" %}">
                {% trans "Post an entry" %}
              </a>
            </li>
          {% endif %}
          {% if perms.zinnia %}
            <li>
              <a href="{% url "admin:app_list" "zinnia" %}" title="{% trans "Advanced Dashboard" %}">
                {% trans "Advanced Dashboard" %}
              </a>
            </li>
          {% endif %}
          {% comment %}
              {% block admin_tools %} {% endblock %}
          {% endcomment %}
        </ul>
        </div class="sidebar-module-conent">
      </div>
    {% endif %}
  {% endif %}
  <div class="tags">
    <h3>{% trans "Top Tags" %}</h3>
    <div class="sidebar-module-conent">
    {% get_tag_cloud %}
    </div class="sidebar-module-conent">
  </div>
  {% block sidebar %}{% endblock %}
{% endblock %}
