{% extends "zinnia/base.html" %}
{% block template %}
    {{ block.super }}
    <!-- templates/zinnia/category_list.html -->
{% endblock template %}
{% load i18n mptt_tags %}

{% block meta-description %}{% trans "Category list" %}{% endblock %}

{% block title %}{% trans "Categories" %}{% endblock %}

{% block content %}
<h2>{% trans "Category list" %}</h2>
<div>
  {% for object, structure in object_list|tree_info %}
    {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
      <a href="{{ object.get_absolute_url }}" title="{{ object }}">{{ object }}</a>
      {% blocktrans count object.entries_published.count as entry_count %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktrans %}
      {% if object.description %}<br />{{ object.description|striptags|safe }}{% endif %}
    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
  {% empty %}
  <ul>
    <li>
      {% trans "No categories yet." %}
    </li>
  </ul>
  {% endfor %}
</div>
{% endblock %}
