{% extends "zinnia/entry_list.html" %}
{% block template %}
    {{ block.super }}
    <!-- templates/zinnia/entry_archive_year.html -->
{% endblock template %}
{% load i18n %}

{% block meta-description %}{% trans "Archives" %} {{ year }}{% endblock %}

{% block title %}{% trans "Archives" %} {{ year }}{% endblock %}

{% block content %}
<div class="author-feature-title-holder">
<h1>{% trans "Archives" %} {{ year }}</h1>
</div>

{{ block.super }}

<h2>{% trans "Monthly archives" %}</h2>
<ul>
  {% for date in date_list %}
  <li>
    <a href="{% url "zinnia_entry_archive_month" year date|date:"m" %}" rel="archives">{{ date|date:"YEAR_MONTH_FORMAT" }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
