{% extends "zinnia/base.html" %}
{% block template %}
    {{ block.super }}
    <!-- templates/zinnia/entry_list.html -->
{% endblock template %}
{% load i18n zinnia_tags thumbnail %}

{% block meta-description %}{% trans "Latest entries for" %} {% if category %}{% trans "the category" %} {{ category }}{% if category.description %}: {{ category.description|striptags|safe }}{% endif %}{% endif %}{% if tag %}{% trans "the tag" %} {{ tag }}{% endif %}{% if author %}{% trans "the author" %} {{ author }}{% endif %}{% if page_obj %}{% ifnotequal page_obj.number 1 %} {% trans "page" %} {{ page_obj.number }}{% endifnotequal %}{% endif %}{% endblock %}

{% block link %}
  {{ block.super }}
  {% if category %}
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed" %} {{ category.title }}" href="{% url "zinnia_category_feed" category.tree_path %}" />
  {% endif %}
  {% if tag %}
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed" %} {{ tag.name }}" href="{% url "zinnia_tag_feed" tag.name %}" />
  {% endif %}
  {% if author %}
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed" %} {{ author.username }}" href="{% url "zinnia_author_feed" author.username %}" />
  {% endif %}
{% endblock %}

{% block title %}{% trans "Latest entries" %} {% if category %}| {% trans "Category" %} {{ category }}{% endif %}{% if tag %}| {% trans "Tag" %} {{ tag }}{% endif %}{% if author %}| {% trans "Author" %} {{ author }}{% endif %}{% if page_obj %}{% ifnotequal page_obj.number 1 %} | {% trans "Page" %} {{ page_obj.number }}{% endifnotequal %}{% endif %}{% endblock %}

{% block content %}

{% if category %}
<div class="author-feature-title-holder">
  <h1>{{ category.title }}</h1>
</div>
  {% if category.description %}
    <p>{{ category.description|striptags|safe }}</p>
  {% endif %}
{% endif %}

{% if tag %}
<div class="author-feature-title-holder">
  <h1>{% trans "Tag" %} : {{ tag }}</h1>
</div>
{% endif %}

{% if author %}
<div class="author-list-title-holder">
    {% comment %}
              {% if author.get_profile.avatar %}
                {% thumbnail author.get_profile.avatar "75x75" crop="center" as img %}
                  <a href="{% url "zinnia_author_detail" author %}" class="fn nickname url" rel="author"
                     title="{% blocktrans with author as author %}Show {{ author }} entries{% endblocktrans %}">
                    <img src="{{ img.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  </a>
                {% empty %}
                {% endthumbnail %}
              {% endif %}
    {% endcomment %}
  <h1>{% blocktrans with author.username as author %}Entries by {{ author }}{% endblocktrans %}</h1>
          <p class="author-blurb">{{ author.get_profile.blurb }}</p>
</div>
{% endif %}

{% for object in object_list %}
  {% with object.html_content|truncatewords_html:30|removetags:"IMG IFRAME OBJECT img iframe object"|safe as object_content %}
    {% with hide_footer=1 %}
      {% include "zinnia/_entry_detail.html" %}
    {% endwith %}
  {% endwith %}
{% empty %}
  <p class="notice">{% trans "No entries yet." %}</p>
{% endfor %}

{% if is_paginated %}
  {% zinnia_pagination page_obj %}
{% endif %}
{% endblock %}

{% block admin_tools %}
  {% if category and perms.zinnia.change_category %}
  <li>
    <a href="{% url "admin:zinnia_category_change" category.pk %}" title="{% trans "Edit the category" %}">
      {% trans "Edit the category" %}
    </a>
  </li>
  {% endif %}
  {% if tag and perms.tagging.change_tag %}
  <li>
    <a href="{% url "admin:tagging_tag_change" tag.pk %}" title="{% trans "Edit the tag" %}">
      {% trans "Edit the tag" %}
    </a>
  </li>
  {% endif %}
  {% if author and perms.auth.change_user %}
  <li>
    <a href="{% url "admin:auth_user_change" author.pk %}" title="{% trans "Edit the author" %}">
      {% trans "Edit the author" %}
    </a>
  </li>
  {% endif %}
{% endblock %}

