{% extends "zinnia/base.html" %}
{% block template %}
    {{ block.super }}
    <!-- templates/zinnia/entry_detail.html -->
{% endblock template %}
{% load i18n comments zinnia_tags oembed_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block meta-description %}{% if object.excerpt %}{{ object.excerpt|striptags }}{% else %}{{ object.content|striptags|truncatewords:100 }}{% endif %}{% endblock %}

{% block meta-keywords %}{% if object.tags %}{{ object.tags }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block link %}
  {{ block.super }}
  {% with object.previous_entry as previous_entry %}{% if previous_entry %}
  <link rel="prev" title="{{ previous_entry.title }}" href="{{ previous_entry.get_absolute_url }}" />
  {% endif %}{% endwith %}
  {% with object.next_entry as next_entry %}{% if next_entry %}
  <link rel="next" title="{{ next_entry.title }}" href="{{ next_entry.get_absolute_url }}" />
  {% endif %}{% endwith %}
  <link rel="shortlink" href="{{ object.short_url }}" />
  <link rel="canonical" href="{{ object.get_absolute_url }}" />
  {% with year=object.creation_date|date:"Y" month=object.creation_date|date:"m" day=object.creation_date|date:"d" %}
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of discussions on" %} '{{ object.title }}'"
        href="{% url "zinnia_entry_discussion_feed" year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of comments on" %} '{{ object.title }}'"
        href="{% url "zinnia_entry_comment_feed" year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of pingbacks on" %} '{{ object.title }}'"
        href="{% url "zinnia_entry_pingback_feed" year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of trackbacks on" %} '{{ object.title }}'"
        href="{% url "zinnia_entry_trackback_feed" year month day object.slug %}" />
  {% endwith %}
{% endblock %}

{% block content %}
{% block entry-content %}
  {% with object.html_content|oembed|safe as object_content %}
  {% include "zinnia/_entry_detail.html" %}
  {% endwith %}
{% endblock %}

{% block entry-widgets %}
<div class="entry-widgets span-16 last">
  {% with object.next_entry as next_entry %}
  {% if next_entry %}
  <div class="entry-next">
    <h3>{% trans "Next entry" %}</h3>
    <ul>
      <li>
	<a href="{{ next_entry.get_absolute_url }}" title="{{ next_entry.title }}" rel="next">
	  {{ next_entry.title }}
	</a>
      </li>
    </ul>
  </div>
  {% endif %}
  {% endwith %}
  {% with object.previous_entry as previous_entry %}
  {% if previous_entry %}
  <div class="entry-previous">
    <h3>{% trans "Previous entry" %}</h3>
    <ul>
      <li>
	<a href="{{ previous_entry.get_absolute_url }}" title="{{ previous_entry.title }}" rel="prev">
	  {{ previous_entry.title }}
	</a>
      </li>
    </ul>
  </div>
  {% endif %}
  {% endwith %}
  {% if object.related_published %}
  <div class="entry-related">
    <h3>{% trans "Related entries" %}</h3>
    <ul>
      {% for entry in object.related_published %}
      <li>
	<a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="entry-similar">
    <h3>{% trans "Similar entries" %}</h3>
    {% get_similar_entries 5 %}
  </div>
</div>
{% endblock %}

{% block entry-comments %}
<div id="comments" class="span-16 last">
  <h3>{% trans "Comments" %}</h3>
  {% with object.comments as comment_list %}
  {% if comment_list.count %}
  <ol id="comment-list" class="span-15 last">
    {% for comment in comment_list %}
    <li id="comment_{{ comment.pk }}" class="comment vcard {% cycle box1,box2 %}{% if comment.user in object.authors.all %} post-author{% endif %} span-15 last">
      <div class="span-2">
	<img src="{% get_gravatar comment.email 60 "G" %}" class="gravatar photo" alt="{{ comment.user_name }}"/>
      </div>
      <div class="comment-body span-13 last">
	<div class="comment-author span-13 last">
	  {% if comment.url %}
	  <a href="{{ comment.url }}" class="fn url">{{ comment.user_name }}</a>
	  {% else %}
	  {{ comment.user_name }}
	  {% endif %}
	  {% trans "on" %} {{ comment.submit_date|date:"SHORT_DATETIME_FORMAT" }}
	</div>
	<div class="span-13 last">
	  {{ comment.comment|linebreaks }}
	</div>
      </div>
    </li>
    {% endfor %}
  </ol>
    {% if not object.comments_are_open %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% else %}
    {% if object.comments_are_open %}
  <p>{% trans "No comments yet." %}</p>
    {% else %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% endif %}
  {% endwith %}
</div>
{% endblock %}

{% comment %}
{% block entry-pingbacks %}
<div id="pingbacks" class="span-16 last">
  <h3>{% trans "Pingbacks" %}</h3>
  {% with object.pingbacks as pingback_list %}
  {% if pingback_list.count %}
  <ol id="pingback-list" class="span-15 last">
    {% for pingback in pingback_list %}
    <li id="pingback_{{ pingback.pk }}" class="pingback {% cycle box1,box2 %} span-15 last">
      <div class="pingback-body span-15 last">
	<div class="pingback-author span-15 last">
	  <a href="{{ pingback.url }}">{{ pingback.user_name }}</a>
	  {% trans "on" %} {{ pingback.submit_date|date:"SHORT_DATETIME_FORMAT" }}
	</div>
	<div class="span-15 last">
	  <cite>
	    {{ pingback.comment }}
	  </cite>
	</div>
      </div>
    </li>
    {% endfor %}
  </ol>
  {% endif %}
    {% if object.pingback_enabled %}
  <p>{% trans "Pingbacks are open." %}</p>
    {% else %}
  <p>{% trans "Pingbacks are closed." %}</p>
    {% endif %}
  {% endwith %}
</div>
{% endblock %}

{% block entry-trackbacks %}
{% with object.trackbacks as trackback_list %}
{% if trackback_list.count or object.pingback_enabled %}
<div id="trackbacks" class="span-16 last">
  <h3>{% trans "Trackbacks" %}</h3>
  {% if trackback_list.count %}
  <ol id="trackback-list" class="span-15 last">
    {% for trackback in trackback_list %}
    <li id="trackback_{{ trackback.pk }}" class="trackback {% cycle box1,box2 %} span-15 last">
      <div class="trackback-body span-15 last">
	<div class="trackback-author span-15 last">
	  <a href="{{ trackback.url }}">{{ trackback.user_name }}</a>
	  {% trans "on" %} {{ trackback.submit_date|date:"SHORT_DATETIME_FORMAT" }}
	</div>
	<div class="span-15 last">
	  <cite>
	    {{ trackback.comment }}
	  </cite>
	</div>
      </div>
    </li>
    {% endfor %}
  </ol>
  {% endif %}
    {% if object.pingback_enabled %}
  <p>
    <a href="{% url "zinnia_entry_trackback" object.pk %}" rel="trackback">
      {% trans "Trackback URL" %}</a>
  </p>
    {% endif %}
</div>
{% endif %}
{% endwith %}
{% endblock %}
{% endcomment %}

{% block entry-comments-form %}
{% comment %}
{% if object.comments_are_open %}
<div class="commentForm span-16 last">
  {% render_comment_form for object %}
</div>
{% endif %}
{% endcomment %}
{% endblock %}

{% endblock %}

{% block admin_tools %}
{% if perms.zinnia.change_entry %}
<li>
  <a href="{% url "admin:zinnia_entry_change" object.pk %}" title="{% trans "Edit the entry" %}">
    {% trans "Edit the entry" %}
  </a>
</li>
{% endif %}
{% endblock %}
