{% extends "zinnia/entry_list.html" %}
{% block template %}
    {{ block.super }}
    <!-- templates/zinnia/entry_archive_day.html -->
{% endblock template %}
{% load i18n %}

{% block meta-description %}{% trans "Archives" %} {{ day|date:"DATE_FORMAT" }}{% endblock %}

{% block title %}{% trans "Archives" %} {{ day|date:"DATE_FORMAT" }}{% endblock %}

{% block content %}
<div class="author-feature-title-holder">
<h1>{% trans "Archives" %} {{ day|date:"DATE_FORMAT" }}</h1>
</div>

{{ block.super }}

<!--<ul>
  <li>
    <a href="{% url "zinnia_entry_archive_day" previous_day|date:"Y" previous_day|date:"m" previous_day|date:"d" %}" rel="archives">{{ previous_day|date:"DATE_FORMAT" }}</a>
  </li>
  {% if next_day %}
  <li>
    <a href="{% url "zinnia_entry_archive_day" next_day|date:"Y" next_day|date:"m" next_day|date:"d" %}" rel="archives">{{ next_day|date:"DATE_FORMAT" }}</a>
  </li>
  {% endif %}
</ul>-->
{% endblock %}
