{% extends "zinnia/entry_list.html" %}
{% block template %}
    {{ block.super }}
    <!-- templates/zinnia/entry_archive.html -->
{% endblock template %}
{% load i18n zinnia_tags blogs %}

{% block meta-description %}{% trans "Latest entries" %}{% endblock %}

{% block link %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}zinnia/css/slider.css" />
{% endblock %}

{% block bodyonload %}
  {{ block.super }}
  jQuery("#slider").tabs({ fx:{ opacity: "toggle"}}).tabs("rotate", 5000, true);
  jQuery("#slider").hover(
    function() { jQuery("#slider").tabs("rotate", 0, true); },
    function() { jQuery("#slider").tabs("rotate", 5000, true); });
{% endblock %}

{% block title %}{% trans "Latest entries" %}{% endblock %}

{% block content %}
<div class="author-feature-title-holder">
  <h1 class="author-feature-title">Latest Blog Posts</h1>
</div>
{% comment %}
  {% get_recent_entries 5 "zinnia/tags/slider_entries.html" %}
{% endcomment %}
  {% get_author_latest_entry object_list as author_object %}
  {% for entry in author_object %}
        {% with entry.html_content|truncatewords_html:30|removetags:"IMG IFRAME OBJECT img iframe object"|safe as object_content %}
          {% with hide_footer=1 author_feature=1 object=entry author=entry.authors.all.0 %}
            {% include "zinnia/_entry_detail.html" %}
          {% endwith %}
        {% endwith %}
  {% endfor %}

  {% if is_paginated %}
    {% zinnia_pagination page_obj %}
  {% endif %}
{% endblock %}
