{% extends "zinnia/entry_list.html" %}
{% block template %}
    {{ block.super }}
    <!-- templates/zinnia/entry_search.html -->
{% endblock template %}
{% load i18n zinnia_tags %}

{% block title %}{% trans "Search results for" %} {% if pattern %}'{{ pattern }}'{% endif %}{% if page_obj %}{% ifnotequal page_obj.number 1 %} | {% trans "Page" %} {{ page_obj.number }}{% endifnotequal %}{% endif %}{% endblock %}

{% block meta-description %}{% trans "Search results for" %} {% if pattern %}'{{ pattern }}'{% endif %}{% if page_obj %}{% ifnotequal page_obj.number 1 %} {% trans "page" %} {{ page_obj.number }}{% endifnotequal %}{% endif %}{% endblock %}

{% block link %}
  {{ block.super }}
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of search result of" %} '{{ pattern }}'" href="{% url "zinnia_entry_search_feed" %}?pattern={{ pattern }}" />
{% endblock %}

{% block content %}
<div class="author-feature-title-holder">
<h1>{% trans "Search results for" %} {% if pattern %}'{{ pattern }}'{% endif %}</h1>
</div>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

{% if object_list %}
<p class="success">
  {% blocktrans count paginator.count as entry_count %}{{ entry_count }} entry found{% plural %}{{ entry_count }} entries found{% endblocktrans %}
</p>
{% endif %}

{% for object in object_list %}
  {% with object.html_content|truncatewords_html:100|safe as object_content %}
  {% include "zinnia/_entry_detail.html" %}
  {% endwith %}
{% empty %}
<p class="notice">{% trans "Nothing found." %}</p>
{% endfor %}

<div class="search">
  <form method="get" id="main_searchform" action="{% url "zinnia_entry_search" %}">
    <p>
      <input type="text" value="{{ pattern }}" name="pattern" id="main_searchbox" />
      <input type="submit" class="submitbutton" value="OK" />
      <a title="{% trans 'You can use - to exclude words or phrases, &quot;double quotes&quot; for exact phrases and the AND/OR boolean operators combined with parenthesis for complex searchs.' %}">
        <img src="{{ STATIC_URL }}zinnia/img/help.png" alt="?" width="14" height="14" />
      </a>
    </p>
  </form>
</div>

{% if is_paginated %}
  {% zinnia_pagination page_obj %}
{% endif %}
{% endblock %}
