{% extends "zinnia/base.html" %}
{% block template %}
    {{ block.super }}
    <!-- templates/zinnia/tag_list.html -->
{% endblock template %}
{% load i18n %}

{% block meta-description %}{% trans "Tag list" %}{% endblock %}

{% block title %}{% trans "Tags" %}{% endblock %}

{% block content %}
<h2>{% trans "Tag list" %}</h2>
<div>
  <ul>
    {% for object in object_list %}
    <li>
      <a href="{% url "zinnia_tag_detail" object %}" title="{{ object }}">{{ object }}</a>
      {% blocktrans count object.count as entry_count %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktrans %}
    </li>
    {% empty %}
    <li>
      {% trans "No tags yet." %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
