{% extends "zinnia/base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Thanks for your comment" %}{% endblock %}

{% block body-class %}comment-posted{% endblock %}

{% block content %}
<h2>{% trans "Thanks for your comment" %}</h2>
<p>
  <a href="{% url "'zinnia_entry_archive_index'" %}" title="{% trans "Return to entry list" %}">
    {% trans "Return to entry list" %}
  </a>
</p>
{% endblock %}
