{% extends "base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}
{% block title %}Tempilo.org{% endblock %}

{% block content %}
	<h1>Petoj</h1>
	
	<form action ="" method ="GET">
		<input type = "text" name = "q"/>
		<button type = "submit">search</button>
	</form>
<ul>
	
{% if object_list %}
    <table id="petoj">
	
	{% for peto in object_list %}
		<li>{{ peto.name }}</li>
		<li>{{ peto.description }}</li>
		<li>{{ peto.time }}</li>
		<li>{{ peto.stelo }}</li>
		<a href="{% url "peto_detail" peto.slug %}">{{ peto.name }}</a>
		<br/>
		<br/>
	{% empty %}

    <li>Nenio Petoj .</li>
	{% endfor %}
	</table>
{% endif %}

{% block content-pagination %}
{% if is_paginated %}
  {% zinnia_pagination page_obj %}
{% endif %}
{% endblock content-pagination %}

{% endblock %}



