{% extends "base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}
{% block title %}Tempilo.org{% endblock %}


{% block content %}
		
	<p>Name:		{{ peto.name }}</p>
	<p>Description: {{ peto.descripion }}</p>
	<p>Time:		{{ peto.time }}</p>
	<p>Stelo:		{{ peto.stelo }}</p>
	<p>Requirements:{{ peto.requirements }}</p>
				<hr>
				
	<p>Location:	{{ peto.location }}</p>
	<p>tags:		{{ peto.tags }}</p>
	<p>{{ PROJECT_URL }} / {{ STATIC_URL }}{{ peto.image }}</p>
	
	<p>Profile: 		<a href="{% url "profile_detail" peto.user.profile.slug %}">{{ peto.user }}</a></p>
{% endblock %}




