{% extends "base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}
{% block title %}Tempilo.org{% endblock %}


{% block content %}

	<p>Name:		{{ oferto.name }}</p>
	<p>Description: {{ oferto.description }}</p>
	<p>Time:		{{ oferto.time }}</p>
	<p>Stelo:		{{ oferto.stelo }}</p>
	<p>Requirements:{{ oferto.requirements }}</p>
				<hr>
				
	<p>Location:	{{ oferto.location }}</p>
	<p>tags:		{{ oferto.tags }}</p>
	<p>{{ PROJECT_URL }} / {{ STATIC_URL }}{{ oferto.image }}</p>

	
	<p>Profile: <a href="{% url "profile_detail" oferto.user.profile.slug  %}">{{ oferto.user.username }}</a>
	</p>
	<p>User: 		{{ oferto.user }}</p>

	{% if oferto.valid and request.user.profile and not oferto.user == request.user %}
		<a href="{% url "accept_offer" %}?oferto_slug={{ oferto.slug }}&creator={{ oferto.user.profile.slug }}">Accept this Offer</a>

	
	{% elif not request.user.profile %}
			<a href="{% url "auth_login" %}">{% trans "Log in to create a profile to accept this offer" %}</a>
	{% endif %}

	<br /><br />

	{% if oferto.user == request.user and oferto.valid %}
		<a href="{% url "offer_switch" %}?offer_slug={{ oferto.slug }}&switch=off">Stop Offer</a>
	{% elif oferto.user == request.user %}
		<a href="{% url "offer_switch" %}?offer_slug={{ oferto.slug }}&switch=on">Start Offer</a>
	{% endif %}

{% endblock %}
