{% extends "base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}
{% block title %}tempilo.org{% endblock %}

{% block content %}

<h1>Welcome aŭ Saluton to the Tempilo</h1>

<a href="{% url "oferto_createview" %}">{% trans "Create an Offer" %}</a>)

{% endblock %}




