{% extends "base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}
{% block title %}Tempilo.org{% endblock %}

{% block content %}
	<h1>Ofertoj</h1>
	
	<form action ="" method ="GET">
		<input type = "text" name = "q"/>
		<button type = "submit">search</button>
	</form>
<ul>
	
{% if object_list %}
    <table id="ofertoj">
	
	{% for oferto in object_list %}
		<li>{{ oferto.name }}</li>
		<li>{{ oferto.description }}</li>
		<li>{{ oferto.time }}</li>
		<li>{{ oferto.stelo }}</li>
		<a href="{% url "oferto_detail" oferto.slug %}">{{ oferto.name }}</a>

		{% if not oferto.valid %}
			(offer has come to an end)
		{% endif %}
		<br/>
		<br/>
	{% empty %}

    <li>No Offers match.</li>
	{% endfor %}
	</table>
{% endif %}

{% block content-pagination %}
{% if is_paginated %}
  {% zinnia_pagination page_obj %}
{% endif %}
{% endblock content-pagination %}

{% endblock %}
