{% extends "base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}
{% block title %}Tempilo.org{% endblock %}


{% block content %}
	<p>Transaction created by <a href="{% url "profile_detail" transaction.creator  %}"> {{ transaction.creator }}</a>

	<p>Transaction amount {{ transaction.amount }}</p>
	<p>Transaction accepted by <a href="{% url "profile_detail" transaction.accepted_by  %}">{{ transaction.accepted_by }}</a></p>
	<p>Regarding Offer <a href="{% url "oferto_detail" transaction.oferto_slug %}"> {{ transaction.oferto_slug }}</a></p>
	
	<br>
	
	<p>Status: {{ transaction.get_status_display }}</p>
	
	<br>
	{% if transaction.status == 'i'  %}
		<a href ="{% url 'transaction_turn' %}?transaction_pk={{ transaction.pk }}&cancel=True">Cancel Transaction</a>
	{% endif %}

{% endblock %}
