{% extends "base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}
{% block title %}Tempilo.org{% endblock %}

{% block content %}
	{% if object_list %}
		{% for transaction in object_list %}
			{{ transaction.creator }}
			{{ transaction.amount }}
			{{ transaction.accepted_by }}
			<a href="{% url "transaction_detail" transaction.id %}">Transaction Detail {{ transaction.id }}</a>

			</br >
		{% endfor %}
	{% endif %}

<hr/>

{% block content-pagination %}
{% if is_paginated %}
  {% zinnia_pagination page_obj %}
{% endif %}
{% endblock content-pagination %}

{% endblock %}
