{% extends "base.html" %}
{% block template %}
    {{ block.super }}
    <!-- templates/blogs/entry_detail.html -->
{% endblock template %}
{% block title %}{% if entry.title %}{{ entry.title }} by {% endif %}{{ profile.user }}{% endblock%}
{% load thumbnail %}
{% block cufon %}
  Cufon.replace('.vip-usertitle h2');
  Cufon.replace('.vip-blog-header');
  Cufon.replace('.vip-side-column h3');
{% endblock %}
{% block extra-meta %}
    {{ block.super }}
    {% load markup misc %}
    <meta property="og:title" content="{{ entry.title }} by {{ profile.user }}"/>
    <meta property="og:type" content="article"/>
    <meta property="fb:app_id" content="165248111093"/>
    <meta property="og:site_name" content="Bodytonicmusic.com"/>
    <meta property="og:url" content="http://www.mywebsite.com{{ request.get_full_path }}"/>
    {% if entry.image %}
      {% thumbnail entry.image "600x600" as img %}
          <meta property="og:image" content="{{ img.url }}"/>
      {% endthumbnail %}
    {% else %}
      {% if profile.avatar %}
        {% thumbnail profile.avatar "600x600" as img %}
          <meta property="og:image" content="{{ img.url }}"/>
        {% endthumbnail %}
      {% endif %}
      {% if not profile.avatar %}
        <meta property="og:image" content="http://www.mywebsite.com/img/user-gen-icon.jpg"/>
      {% endif %}
    {% endif %}
{% endblock %}
{% block css %}
    {{ block.super }}
  <style type="text/css">
    {% if profile.background %}
        {% if profile.background_image %}
        body {background:{{ profile.background }} url({{ profile.background_image.url }}) no-repeat top left!important;}
        {% else %}
        body {background:{{ profile.background }}!important;}
        {% endif %}
    {% else %}
        {% if profile.background_image %}
        body {background-image:url({{ profile.background_image.url }}) no-repeat top left!important;}
        {% endif %}
    {% endif %}
  </style>
{% endblock %}
{% block bodystyle %}people{% endblock %}
{% block content %}
{% load thumbnail %}
{% load misc btprofile humanize markup forum cache feeds comparison %}
<div class="vip-profile">
            {% thumbnail profile.header '980x100' as img %}
<div class="vip-header"{% if profile.header %} style="background:url({{ img.url }}) no-repeat center center;"{% endif %}>
            {% endthumbnail %}
            {% thumbnail profile.avatar '75x75' as img %}
    <div class="vip-avatar" style="background:url({{  img.url}}) no-repeat center center;">
            {% endthumbnail %}
        <a href="{{ profile.get_absolute_url }}"><img src="/img/spacer.gif" height="75px" width="75px" alt="{{ username }}" title="{{ username }}" /></a>
    </div>
    <div class="vip-usertitle">
        <h2><a href="{{ profile.get_absolute_url }}">{{ username }}</a></h2>
        {% if profile.blurb %}<h4>{{ profile.blurb }}</h4>{% endif %}
    </div>
</div>
    <div class="clearBoth"></div>
    <div class="vip-right">
        <fb:like href="http://www.mywebsite.com{{ request.get_full_path }}" layout="standard" show_faces="true" width="350" action="like" colorscheme="light"></fb:like>

    <div class="clearBoth"></div>
        <div class="vip-side-column">
            {% if profile.facebook_user %}
            <div class="profile-facebook-block">
                <a href="http://facebook.com/{{ profile.facebook_user }}"><img src="/img/facebook_prof_badge.png" alt="Follow on Facebook" title="Follow on Facebook" /></a>
            </div>
            {% endif %}
            {% if profile.twitter_user %}
            <div class="profile-twitter-block">
            <h3><a href="http://twitter.com/{{ profile.twitter_user }}">{{ username }} on Twitter</a></h3>
            {% cache 200 profile_twitter_feed3 profile.id %}
            {% with profile.twitter_user|twitter_feed as twitterfeed %}
                    {% parse_feed twitterfeed as feed %}
                    {% for e in feed.entries|slice:":3" %}
                    <a class="vip-twitter-latest{% if forloop.last %} border-bottom{% endif %}" href="{{ e.link }}">{{ e.description }}<br /><em>{{ e.updated_parsed|parse_time|timesince }} ago</em></a>
                    {% endfor %}
            {% endwith %}
            {% endcache %}
            </div>
            {% endif %}
            {% if profile.bebo_user %}
            <div class="profile-soundcloud-block">
            <h3><a href="http://soundcloud.com/{{ profile.bebo_user }}">{{ username }} on Soundcloud</a></h3>
            <object height="225" width="100%"> <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2F{{ profile.bebo_user }}&amp;show_comments=true&amp;auto_play=false&amp;show_playcount=true&amp;show_artwork=true&amp;color=ff7700"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="225" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2F{{ profile.bebo_user }}&amp;show_comments=true&amp;auto_play=false&amp;show_playcount=true&amp;show_artwork=true&amp;color=ff7700" type="application/x-shockwave-flash" width="100%"></embed> </object>
            </div>
            {% endif %}
            {% if profile.myspace_user %}
            <div class="profile-myspace-block">
            <h3><a href="http://myspace.com/{{ profile.myspace_user }}">{{ username }} on Myspace</a></h3>
            {% cache 200 profile_myspace_feed profile.id %}
            {% with profile.myspace_user|myspace_feed as myspacefeed %}
                    {% parse_feed myspacefeed as feed %}
                    {% for e in feed.entries|slice:":3" %}
                    <a class="vip-myspace-latest{% if forloop.last %} border-bottom{% endif %}" href="{{ e.link }}">{{ e.title }}</a>
                    {% endfor %}
            {% endwith %}
            {% endcache %}
            </div>
            {% endif %}
            {% if profile.lastfm_user %}
            <div class="profile-lastfm-block">
            <h3><a href="http://www.last.fm/user/{{ profile.lastfm_user }}">Recently Listened on LastFM</a></h3>
            {% cache 200 profile_lfm_feedb profile.id %}
            {% with profile.lastfm_user|lastfm_feed as myspacefeed %}
                    {% parse_feed myspacefeed as feed %}
                    {% for e in feed.entries|slice:":3" %}
                    <a class="vip-lastfm-latest{% if forloop.last %} border-bottom{% endif %}" href="{{ e.link }}">{{ e.title }}<br /><em>{{ e.updated_parsed|parse_time|timesince }} ago</em></a>
                    {% endfor %}
            {% endwith %}
            {% endcache %}
            </div>
            {% endif %}
            {% if profile.flickr_user %}
            <div class="profile-lastfm-block">
            <h3><a href="http://www.flickr.com/photos/{{ profile.flickr_user }}/">Photos on Flickr</a></h3>
            <div id="flickrimages">
                <div class="clearBoth"></div>
            </div>
                <script type="text/javascript">
                  //run function to parse json response, grab title, link, and media values - place in html tags
                  function jsonFlickrFeed(fr) {
                    for (var i = 0; i < 10;i++) {
                      if((i+1)%5==0){
                        $('flickrimages').insert('<a class="vip-flickr-latest flickr-end-row" title="' + fr.items[i].title + '" href="' + fr.items[i].link + '"><img src="' + changesize(fr.items[i].media.m,'_m','_s') + '" alt="' + fr.items[i].title + '"></a>');
                        }else{
                        $('flickrimages').insert('<a class="vip-flickr-latest" title="' + fr.items[i].title + '" href="' + fr.items[i].link + '"><img src="' + changesize(fr.items[i].media.m,'_m','_s') + '" alt="' + fr.items[i].title + '"></a>');
                        }

                    }
                  }

                  function changesize(og, from, to){
                    var newstr = og.gsub(from, to);
                    return newstr;
                  }
                </script>
                <!-- use script tag to make request to flickr api, specify json format and tag to search -->

                <script type="text/javascript" src="http://api.flickr.com/services/feeds/photos_public.gne?id={{ profile.flickr_user }}&lang=en-us&format=json"></script>
            </div>
            {% endif %}
                <div class="clearBoth"></div>
        </div>
    </div>

    <div class="vip-main-column">

        <div class="stream-filters">
            <ul>
                <li id="blog-nav-contact" class="blog-nav" ><a href="{% url "btprofile.views.messages_thread" profile.user.id %}" class="tab-allcontent">Contact Blogger</a><span></span></li>
              <li id="blog-nav-home" class="blog-nav slider-right post-to-blog-btn" ><a href="{{ profile.get_absolute_url}}" class="tab-allcontent">Blog Home</a><span></span></li>
            </ul>
            <div class="clearBoth"></div>
        </div>
        <div class="clearBoth"></div>

            <div class="vip-blog-post{% if forloop.first %} vip-blog-firstpost{% endif %}">
                <div class="vip-blog-top">
                    <div class="vip-blog-header-date">{{ entry.creation_date|date:"j M Y P" }}
                        {% if entry.authors.0 == request.user and request.user.is_staff %}
                          &bull; <a href="/blogs/{{ entry.id }}/edit/">Edit This Entry</a>
                        {% endif %}
                    </div>
                    {% if entry.title %}<div class="vip-blog-header"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></div>{% endif %}
                    <div class="clearBoth"></div>
                </div>
                <div class="clearBoth"></div>
                <div class="vip-blog-content">
                    {% if entry.image %}
                    <a href="{{ entry.get_absolute_url }}"><img src="{{ entry.image.url }}" alt="{{ entry.title }}" title="{{ entry.title }}" /></a>
                    {% endif %}
                        {% autoescape off %}
                        {{ entry.content|bbcode_alt|urlize|markdown:"video"|removetags:"pre code" }}
                        {% endautoescape %}
                    <div class="clearBoth"></div>
                    <div class="clearBoth"></div>
                </div>
                <div class="clearBoth"></div>
            </div>
    </div>
    <div class="clearBoth"></div>
</div>
{% endblock %}
