{% load i18n %}
{% load url from future %}
<div id="quickpost" class="module">
  <form method="post" action="{% url "'zinnia_entry_quick_post'" %}">
    {% csrf_token %}
    <table summary="{% trans "Quick publishing" %}">
      <caption>{% trans "Quick publishing" %}</caption>
      <tr>
        <th>
          <label for="id_title" class="required">{% trans "Title" %}:</label>
        </th>
        <td>
          <input name="title" class="vTextField" maxlength="255" id="id_title" type="text" />
        </td>
      </tr>
      <tr>
        <th>
          <label for="id_content" class="required">{% trans "Content" %}:</label>
        </th>
        <td>
          <textarea id="id_content" rows="7" cols="40" name="content" class="vLargeTextField"></textarea>
        </td>
      </tr>
      <tr>
        <th>
          <label for="id_tags">{% trans "Tags" %}:</label>
        </th>
        <td>
          <input name="tags" class="vTextField" maxlength="255" id="id_tags" type="text" />
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="{% trans "Save as draft" %}" name="save_draft" class="button" />
          <input type="reset" value="{% trans "Reset" %}" class="button" />
          <input type="submit" value="{% trans "Publish" %}" class="default" name="save" />
        </td>
      </tr>
    </table>
  </form>
</div>
