{% extends "skeleton.html" %}
{% load zinnia_tags i18n %}
{% load url from future %}
{% load postman_tags %}
{% block title %}Tempilo{% endblock %}

{% block header %}

<!-- Nav Wrap -->
<div class="contain-to-grid">
<nav class="top-bar">
    <ul class="title-area">
    <!-- Title Area -->
        <li class="name"></li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
 
    <!-- The Section wrap -->
    <section class="top-bar-section">
     
        <!-- Left Nav Section -->
        <ul class="left">
            <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
            <li><a href="#">About us</a></li>



        </ul>
 
        <!-- Right Nav Section -->
        <ul class="right">
            {% if user.is_authenticated %}
          <li><a href="{% url "postman_inbox" %}"> {% trans "Inbox" %}</a></li>
          <li><a href="{% url "profile_detail" user.profile.slug %}"> {{ user.username }}</a></li>
          <li><a href="{% url "auth_logout" %}">{% trans "Log out" %}</a></li>


              {% else %}

          <li><a href="{% url "auth_login" %}">{% trans "Log in" %}</a></li>

            {% endif %}

        

        </ul>
 
    </section>
</nav>
</div>
{% endblock %}


{% block sidebar %}

  <ul class="side-nav">
    <div class="panel"> 
		  <li><a href="{% url "oferto_createview" %}"class="button">{% trans "Create an Offer" %}</a></li>
		  <li><a href="{% url "oferto_listview" %}"class="button">{% trans "See the Offer's" %}</a></li>
        <li class="divider"></li>
        <li class="divider"></li>

		  <li><a href="{% url "peto_createview" %}"class="button">{% trans "Create a Request" %}</a></li>
		  <li><a href="{% url "peto_listview" %}"class="button">{% trans "See the Requests" %}</a></li>
      <li><a href='https://pledgie.com/campaigns/24615'><img alt='Click here to lend your support to: Time Barter and make a donation at pledgie.com !' src='https://pledgie.com/campaigns/24615.png?skin_name=chrome' border='0
      ' ></a></li>
      <li><script id='fbrfmgb'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=BrianScottCarpenter&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=62;f.width=55;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbrfmgb');</script>
      </li>

    </div>
	</ul>

{% endblock %}

{% block content %} {% endblock %}


{% block footer %}
      <div class="row">
        <div class ="large-12 large-12-centered">
            <div id="footer">
              <div class="panel">
				<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Tempilo</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://bitbucket.org/BrianScottCarpenter/tempilo" property="cc:attributionName" rel="cc:attributionURL">Leprechaun King</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://bitbucket.org/BrianScottCarpenter/tempilo" rel="dct:source">https://bitbucket.org/BrianScottCarpenter/tempilo</a>.
				<a href="http://info.flagcounter.com/bLXn"><img src="http://s06.flagcounter.com/count/bLXn/bg_FFFFFF/txt_000000/border_CCCCCC/columns_8/maxflags_250/viewers_0/labels_0/pageviews_0/flags_0/" alt="Flag Counter" border="0"></a>
      </div>
      </div>
    </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47015323-2', 'tempilo.herokuapp.com');
  ga('send', 'pageview');

</script>
            </div>
{% endblock %}

