{% extends "base.html" %}
{% load zinnia_tags i18n %}
{% load url from future %}
{% load comments %}

{% block content %}
	<p>Name: {{ brick.name }}</p>
	<p>Description: {{ brick.description }}</p>
	<p>Address: {{ brick.address }}</p>
	<p>Phone: {{ brick.phone }}</p>
	<p>{{ brick.image }}</p>
	<p>Category {{ brick.category }}</p>

	<p>Tags: {{ brick.tags }}</p>
<hr>


	{% render_comment_list for brick %}

	<div class = "comment_form">
	{% render_comment_form for brick %}
	</div>


{% endblock %}
