{% extends "base.html" %}
{% load zinnia_tags i18n %}
{% load url from future %}
{% load comments %}

{% block content %}
	<p>{{ category.name }}</p>
	<p>{{ category.description }}</p>
	<p>{{ category.tags }}</p>
<hr>
	{% for brick in bricks %}
		
		<p>{{ brick.name }}</p>
		<p>{{ brick.description }}</p>
		<p>{{ brick.tags }}</p>
		<p><a href={{ PROJECT_URL }}/brick/{{ brick.slug }}> More info: {{ brick.name }}</a></p>
		
		<hr>
	
	{% endfor %}
	

	{% render_comment_list for category %}

	<div class = "comment_form">
	{% render_comment_form for category %}
	</div>


{% endblock %}
