{% extends "base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}
{% block title %}tempilo{% endblock %}



{% block content %}

<h1>Welcome to the Tempilo</h1>
<p>Know what your time is worth</p>
<p>A tool for your time</p>

<p> This website is in ALPHA and all Information will be reset when
we go into production.</p>

<a href="http://en.wikipedia.org/wiki/Time_banking"> From Wikipedia</a>

Time banking is a pattern of reciprocal service exchange that uses units of time as currency. It is an example of a complementary monetary system. A time bank, also known as a service exchange, is a community that practices time banking. The unit of currency, always valued at an hour's worth of any person's labor, used by these groups has various names, but is generally known as a time dollar in the USA and a time credit in the UK. Time banking is primarily used to provide incentives and rewards for work such as mentoring children, caring for the elderly, being neighborly—work usually done on a volunteer basis—which a pure market system devalues. Essentially, the "time" one spends providing these types of community services earns "time" that one can spend to receive services.[1] As well as gaining credits, participating individuals, particularly those more used to being recipients in other parts of their lives, can potentially gain confidence, social contact and skills through giving to others. Communities therefore use time banking as a tool to forge stronger intra-community connections, a process known as "building social capital". Time banking had its intellectual genesis in the USA in the early 1980s.[2] By 1990, the Robert Wood Johnson Foundation had invested USD 1.2 million to pilot time banking in the context of senior care. Today, 26 countries have active Time Banks. There are 250 Time Banks active in the UK[3] and over 276 Time Banks in the U.S.[4]




{% endblock %}



