{% extends "base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}
{% block title %}tempilo.org{% endblock %}



{% block content %}
	<ul>
		<li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
	
		<li><a href="#">About us</a></li>
      {% if user.is_authenticated %}

         <li><a href="{% url "profile_detail" user.profile.slug %}"> My Profile {{ user.username }}</a></li>
         <li><a href="{% url "auth_logout" %}">{% trans "Log out" %}</a></li>
      {% else %}

         <li><a href="{% url "auth_login" %}">{% trans "Log in" %}</a></li>
      {% endif %}
         
   		<li><a href="{% url "postman_inbox" %}"> {% trans "Inbox" %}</a></li>

    </ul>

{% endblock %}