{% load zinnia_tags i18n %}
{% load url from future %}
{% get_tags as entry_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="description" content="{% block meta-description %}Time Tool,TimeBank,Barter,core economy,training governance{% endblock %}" />
    <meta name="keywords" content="{% block meta-keywords %}Time Trade Barter {{ entry_tags|join:", "}}{% endblock %}" />
    <meta name="author" content="Brian Scott Carpenter" />
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <link rel="home" href="{% url "home" %}" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/app.css">
  

   <script src="{{ STATIC_URL }}javascripts/vendor/custom.modernizr.js"></script>
   <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
	<link href='http://fonts.googleapis.com/css?family=Jolly+Lodger' rel='stylesheet' type='text/css'>	
	 
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}/css/ie.css" />
    <![endif]-->
    {% block link %}{% endblock %}
    {% block script %}{% endblock %}
  </head>
  <body class="skeleton {% block body-class %}{% endblock %}">
 
        {% block header %}{% endblock%}
        
        <div class ="row">
          <div class="large-12 large-12 centered columns">
            <div class ="row">
                <div class="large-8 large-8 centered columns">
                  <div class="panel">
                   {% block content %}{% endblock %}
                  </div>
                </div>
              <div class="large-4 columns">
             {% block sidebar %}{% endblock %}
              </div>
            </div>
          </div>
        </div>


        
        
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
           <li id="message_{{ forloop.counter }}"
             {% if message.tags %} class="{{ message.tags }}"
     {% endif %}>
          {{ message }}

      </li>
    {% endfor %}
    </ul>
  {% endif %}


	</div>
		
		{% block footer %}{% endblock %}
	</div>
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="{{ STATIC_URL }}javascripts/foundation/foundation.js"></script>
  
  <script src="{{ STATIC_URL }}javascripts/foundation/foundation.reveal.js"></script>
  
  <script src="{{ STATIC_URL }}javascripts/foundation/foundation.topbar.js"></script>
  
  <script src="{{ STATIC_URL }}javascripts/foundation/foundation.interchange.js"></script>
  
  <script src="{{ STATIC_URL }}javascripts/foundation/foundation.forms.js"></script>
  
  <script src="{{ STATIC_URL }}javascripts/foundation/foundation.placeholder.js"></script>
  
  <script src="{{ STATIC_URL }}javascripts/foundation/foundation.tooltips.js"></script>
  
  <script src="{{ STATIC_URL }}javascripts/foundation/foundation.joyride.js"></script>
  
  <script src="{{ STATIC_URL }}javascripts/foundation/foundation.cookie.js"></script>
  
  <script src="{{ STATIC_URL }}javascripts/foundation/foundation.clearing.js"></script>
  
  <script src="{{ STATIC_URL }}javascripts/foundation/foundation.alerts.js"></script>
  
  <script src="{{ STATIC_URL }}javascripts/foundation/foundation.dropdown.js"></script>
  
  <script src="{{ STATIC_URL }}javascripts/foundation/foundation.orbit.js"></script>
  
  <script src="{{ STATIC_URL }}javascripts/foundation/foundation.abide.js"></script>
  
  <script src="{{ STATIC_URL }}javascripts/foundation/foundation.magellan.js"></script>
  
  <script src="{{ STATIC_URL }}javascripts/foundation/foundation.section.js"></script>
  
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>

