{% extends "admin/app_index.html" %}
{% load i18n adminmedia %}
{% load url from future %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}zinnia/css/jquery.autocomplete.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}zinnia/css/dashboard_zinnia.css" />
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}zinnia/js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}zinnia/js/jquery.masonry.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}zinnia/js/jquery.bgiframe.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}zinnia/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="{% url "'admin:zinnia_entry_autocomplete_tags'" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
  $("#content-main").masonry({
    singleMode: true, itemSelector: ".module"
  });
});
</script>
{% endblock %}

{% block content %}
<div id="content-main">
  {% include "admin/zinnia/widgets/content_stats.html" %}
  {% include "admin/zinnia/widgets/quickpost.html" %}
  {% include "admin/zinnia/widgets/recent_comments.html" %}
  {% include "admin/zinnia/widgets/draft_entries.html" %}
  {% include "admin/zinnia/widgets/recent_linkbacks.html" %}
</div>
{% endblock %}
