{% load i18n %}
<ul>
  {% for date in archives %}
  <li>
    <a title="{% trans "Archives" %} {{ date|date:"YEAR_MONTH_FORMAT" }}" rel="archives"
       href="{% url "zinnia_entry_archive_month" date|date:"Y" date|date:"m" %}">
      {{ date|date:"YEAR_MONTH_FORMAT" }}
    </a>
  </li>
  {% empty %}
  <li>
    {% trans "No archives yet." %}
  </li>
  {% endfor %}
</ul>
