{% load i18n thumbnail %}

{% thumbnail "http://www.mywebsite.com//img/user-gen-icon.jpg" "25x25" crop="center" as default_img %}
<ul>
  {% for author in authors %}
  <li class="vcard">
      <a href="{% url "zinnia_author_detail" author %}" class="fn nickname url" rel="author"
         title="{% blocktrans with author as author %}Show {{ author }} entries{% endblocktrans %}">
        {% thumbnail author.get_profile.avatar "25x25" crop="center" as img %}
            <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}">
        {% empty %}
            <img src="{{ default_img.url }}" width="{{ default_img.width }}" height="{{ default_img.height }}">
        {% endthumbnail %}
      </a>
    <a href="{% url "zinnia_author_detail" author.username %}"
       title="{{ author.username }}" class="fn nickname url">{{ author.username }}</a>
    ({% blocktrans count author.entries_published.count as entry_count %}{{ entry_count }}&nbsp;entry{% plural %}{{ entry_count }}&nbsp;entries{% endblocktrans %})
  </li>
  {% empty %}
  <li>
    {% trans "No authors yet." %}
  </li>
  {% endfor %}
</ul>
{% endthumbnail %}
