<ol>
  {% for crumb in breadcrumbs %}
    <li>
      {% if not forloop.last %}
        <a href="{{ crumb.url }}" title="{{ crumb.name }}">{{ crumb.name }}</a> {{ separator }}
      {% else %}
        <a> {{ crumb.name }}</a>
      {% endif %}
    <li>
  {% endfor %}
<ol>
