{% load i18n blogs %}

<div>
  <ul>
    {% for tag in tags|top_tags:"20" %}
    <li>
      <a href="{% url "zinnia_tag_detail" tag.name %}"
         title="{% blocktrans count tag.count as entry_count %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktrans %}"
         class="tag_{{ tag.font_size }}">{{ tag }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
