{% extends "base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}
{% block title %}tempilo.org{% endblock %}

{% block content %}

<h1>{{ profile.name }}<h1>
	
	<p>
		<a href="{% url "'profile_updateview'" profile.slug %}" class="button blue">Edit my profile</a> 
    </p>


{% endblock %}



