
{% extends "base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}
{% block title %}tempilo.org{% endblock %}

{% block content %}

<h1>{{ profile }}<h1>
	
	<h2> Ofertoj or/aŭ Offers</h2>
	
<p>	{{ oferto }} </p>
	{% for oferto in profile  %}
        <a href="{% url "oferto_detail" oferto.slug %}">{{ oferto.name }}</a><br/>


	{% endfor %}
	



{% endblock %}


