
{% extends "base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}


{% block title %} {{ profile.name }}{% endblock %}



{% block content %}

<p> <a href=" {% url "profile_detail" profile.slug %}">{% trans " The Profile of " %}{{ profile.slug }} </a></p>
<br>


{% if object_list %}
    <table id="ofertoj">
	
	{% for oferto in object_list %}
		<li>{{ oferto.name }}</li>
		<li>{{ oferto.description }}</li>
		<li>{{ oferto.time }}</li>
		<li>{{ oferto.stelo }}</li>
		<a href="{% url "oferto_detail" oferto.slug %}">{{ oferto.name }}</a>

		{% if not oferto.valid %}
			(offer has come to an end)
		{% endif %}
		<br/>
		<br/>
	{% empty %}

    <li>No Offers match.</li>
	{% endfor %}
	</table>
{% endif %}
  


        <hr/>


{% endblock content %}
