
{% extends "base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}


{% block title %} {{ profile.name }}{% endblock %}



{% block content %}

<p> <a href=" {% url "profile_detail" profile.slug %}">{% trans " The Profile of " %}{{ profile.slug }} </a></p>


{% for peto in object_list  %}
        <a href="{% url "peto_detail" peto.slug %}">{{ peto.slug }}</a><br/>
        <hr/>
{% endfor %}
  


        <hr/>


{% endblock content %}

