{% extends "base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}
{% block title %}tempilo.org{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} 
            <br>
            {{ field }}
            <p></p>

        </div>
    {% endfor %}
    <p><input type="submit" value="Save" /></p>
</form>

{% endblock %}


