
{% extends "base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}


{% block title %} {{ profile.name }}{% endblock %}

{% block content %}

	<p> Username 		{{ profile.user }}

	<p> Name 		{{ profile.name }}
	<p>contact_name {{ profile.contact_name }}
	
	<p>Bio:		{{ profile.bio }}</p>
	
	<p>image 		{{ profile.image }}</p>
	<p>tags 		{{ profile.tags }} </p>
	<br>
	
	{% if profile.balance < 0 %}
		<p>Balance	{{ profile.balance }}</p>
	{% endif %}
	
	<a href="{% url "postman_write" profile.user %}"> Message {{ profile.user }} </a><br>
	<a href="{% url "profile_oferto_list" profile.slug %}"> Offer List for {{ profile.user }}</a><br>
	<a href="{% url "profile_peto_list" profile.slug %}"> Request List for {{ profile.user }}</a><br>


	
		
{% endblock content %}
