{% extends "base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}

{% block title %}Info for {{ profile.name }}{% endblock %}

{% block content %}


<p>TEST</p>
{% for Profile in object_list  %}
        <a href="{% url "oferto_detail" oferto.slug %}">{{ oferto.slug }}</a><br/>
        <hr/>
{% endfor %}
  
    <p> Underneath is Profile Deatail</p>  
	<a href="{% url "profile_detail" profile.slug %}"> Profile Detail {{ profile.slug }}</a><br/>
	{{ profile.bio }} <br/>

        <hr/>


{% endblock content %}
