{% extends "base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}
{% block title %}tempilo.org{% endblock %}

{% block content %}

{{block.super}}

{% for profile in object_list  %}
        <a href="{% url "profile_detail" profile.slug %}">{{ profile.name }}</a><br/>
        {{ profile.bio }} <br/>
        <hr/>
{% endfor %}

{% endblock content %}


